@{
    ViewBag.Title = "Search";

}


<br />
<div class="searchbar">
    <form action="">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-center form-group">
                <select type="button" class="btn dropdown-toggle form-control" data-toggle="dropdown" role="button">
                    <option>Categories</option>
                    <option value="">electronic</option>
                    <option value="">beauty</option>
                    <option value="">forniture</option>
                    <option value="">game</option>
                </select>
            </div>

            <div class="col-lg-8 d-flex align-items-center form-group">
                <input list="selectSubCategory" class="form-control" />
                <datalist id="selectSubCategory">
                    <option value="Fan"></option>
                    <option value="Vaccum"></option>
                    <option value="frige"></option>
                    <option value="Steam"></option>
                </datalist>
            </div>

            <div class="col-lg-1">
                <button type="submit" class="btn btn-link btn-block">Search</button>
            </div>

        </div>
    </form>
</div>


