body {

    padding-bottom: 20px;
    
}

.layout{
    background-image: linear-gradient(#3e73bd, white);
        background-repeat: no-repeat;
}
    

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

/* create a search-bar class to formate a goodlooking search bar*/
.searchbar {
    border-radius: 10rem;
    background: #3e73bd;
    padding: 4px 24px 4px 24px;
}

    .searchbar .form-group {
        margin-bottom: 0;
    }



    .searchbar button {
        color: white;
        text-decoration: solid;
        font-weight: bold;
    }

    .searchbar select {
        color: white;
        font-weight: bold;
    }



.lg-logo {
    width: 20em;
    padding-top: 5em;
}

h3 {
    font-weight: bold;
    color: #3e73bd;
}

/* login in part*/
.loginin input {
    width: 500px;
    border-radius: 5px;
}
.warning {
    color: red;
    
}


.loginin #submit1 {
    width: 50px;
    margin-left: 450px;
    color: white;
    background-color: #3e73bd;
    border: 1px solid transparent;
    border-radius: 4px;
}

.modal-footer #submit2 {
    color: white;
    background-color: #3e73bd;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* product part*/
.table1 {
    display: inline-block;
    vertical-align: text-top;
    width: 500px;
}

.table1 th {
    width:500px;
}
.table1 tr {
        height: 30px;
}
.table1 td{
    border-style: solid none;
    border-width: 1px;
}

.Phead {
    border-style: solid none;
}

table label {
    margin-bottom: 0;
}

.Plabel {
    background-color: #dee2e6;
    width: 200px;
    font-weight:100;
}

.document {
    display: inline-block;
    width:500px;

}